#page-outer {
  height: 100%;
}

#main-header {
  margin-top: 30px;
}

.row {
  margin-bottom: 20px;
}

#cuck {
  margin: 15px;
  margin-bottom: 0.5px;
}

div.col-md-8 {

}

.col-l-3 {
margin-top: 10px;
}

#loginarea {
;

}
.PageCanvas {
  border: solid  0.5px #E2E2E2 ;
  margin-right:220px ;
  margin-left:220px ;
  background-color: white;
  width: auto;
  max-width: 835px;
  margin-bottom: 15px;

}
.navbar navbar-default {
  border-bottom: solid  ;

}
body {
  background-color: #e6ecf0;
}
div {
  display: block;
}

 .container {
    position: relative;
    width: 890px;
    margin: 0 auto;
 }

 .pull-right {
    float: right;
    text-align: left;
}

#menu-0 {
  display: table;
  margin-top: 15%;
  color: #777;;
}


.pull-right .dropdown-toggle {
    height: auto;
    margin-top: 0;
}

.pull-right .dropdown-toggle {
    overflow: hidden;
    padding: 0;
}

.navbar-header {
  background-image: 
}
#bird {
  margin: 100px
}
