#page-outer {
  height: 100%;
}

#main-header {
  margin-top: 30px;
}

.row {
  margin-bottom: 20px;
}

div.col-md-8 {

  /*border: solid 1px #e6ecf0;*/
}

#loginarea {
  border-bottom: solid ;

}
.PageCanvas {
  border: solid ;
  margin-right:250px ;
  margin-left:250px ;
  background-color: white;

}
div.row {

}
body {
  background-color: #e6ecf0;
}

 .container {
    position: relative;
    width: 890px;
    margin: 0 auto;
 }

 .pull-right {
    float: right;
    text-align: left;
}







.pull-right .dropdown-toggle {
    height: auto;
    margin-top: 0;
}

.pull-right .dropdown-toggle {
    overflow: hidden;
    padding: 0;
}
